#content {
    text-align: center;
    padding: 15%;
    color: black;
}

#hrIndex {
    width: 325px;
    border-top: 1px solid black;
}

a {
    margin: 5px;
}

p {
    font-size: 30px;
}

#hrAboutMe {
    width: 200px;
    border-top: 1px solid black;
}

#content {
    text-align: center;
    padding: 10%;
    color: black;
    font-weight: 500;
}
